
<h1>Host <%= @host.hostname %></h1>
<p>
  <strong>Hostname:</strong>
  <%= @host.hostname %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @host.ip %>
</p>

<p>
  <strong>First seen:</strong>
  <%= @host.first_seen %>
</p>

<p>
  <strong>Last seen:</strong>
  <%= @host.last_seen %>
</p>

<p>
  <strong>User:</strong>
  <%= @host.user_id %>
</p>

<script>
 $(document).ready(
 	function() {
 		setInterval(function() {
 			$('#dtable').load('/hosts/from_file_delta');
 			}, 2000);
 });
</script>

<%= render partial: "dtable", locals: { file_delta: @file_delta } %>

<br>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
